
<div class="container" >
    <div class="item" >
        <form  enctype="multipart/form-data">
            <div class="upload-button">
            <p>Click here</p>
            <label for="fileInput"><img height="50" src="assets/file.png" alt=""></label>
        </div>
            <input id="fileInput" type="file"   style="display: none;"  (change)="onFileSelected($event)" title="Choose a file to upload" />
            <button [class]="{
                uploaded:this.selectedFile
            }" (click)="onSubmit($event)" type="submit">{{buttonStr}}</button>
        </form>
    </div>
    </div>